@page "/borrowedbooks/{BorrowerName}"

<h1>Your borrowed books</h1>

<br />

<p>The books, you should return in less then <span style="color: #FF0000;">3</span> days are displayed in <span style="color: #FFA07A;">different color</span>.</p>

<br />

<a href="/usernameinput" class="btn btn-primary">Other user</a>
<a class="btn btn-primary" onClick="window.location.reload();">Refresh</a>

<br />
<br />

@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (Books.Length == 0)
    {
        <p>You don't have borrowed books.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Authors</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Books)
                {
                    if (book.ShouldReturn < DateTime.Now.AddDays(3))
                    {
                        <tr style="background-color: #FFA07A;">
                            <td>@book.ISBN</td>
                            <td>@book.Title</td>
                            <td>@book.Authors</td>
                            <td>
                                <a href="@($"borrowedbook/{book.ISBN}")" class="btn btn-info table-btn">Info</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@book.ISBN</td>
                            <td>@book.Title</td>
                            <td>@book.Authors</td>
                            <td>
                                <a href="@($"borrowedbook/{book.ISBN}")" class="btn btn-info table-btn">Info</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>   
    }
}
